/* let's add smth to test the changes*/
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Libre Baskerville', serif;
}
#avatar {
  border-radius: 50%;
  width: 150px;
  border: 1px solid rgb(210,210,210);
}
header {
  background-color: rgb(210,210,210);
  box-shadow: 5px 5px rgba(230,230,230,0.6);
}
footer {
  background-color: rgb(210,210,210);
  box-shadow: 5px -5px rgba(230,230,230,0.6);
  height: 3em;
  text-align: center;
  padding: 1em;
  font-size: 0.8em;
  font-color: rgb(245,245,245);
}
header {
  height: 3em;
  position: fixed;
  width: 100%;
}
#portfolio {
  background-color: rgb(230,230,230);
}
#content {
  padding-top: 5em;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

h1 {
  font-variant: small-caps;
  color: rgb(30,30,30);
}
nav ul {
  text-align: right;
  margin-right: 10%;
}
nav li {
  display: inline-block;
  margin-left: 3%;
  vertical-align: middle;
}
nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
}
nav li:hover {
  text-decoration: underline;
}
nav a:active {
  color: rgb(210,210,210);
}
#portfolio img {
  padding: 0.5%;
  border-radius: 1%;
  background-color: #fff;
  margin: 0;
}

#portfolio img:hover {
  width: 20%;
  padding: 2%;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(3,200,162,1);
  -moz-box-shadow: 0px 0px 2px 2px rgba(3,200,162,1);
  box-shadow: 0px 0px 2px 2px rgba(3,200,162,1);
}
.social {
  display:inline-block;
  width: 50px;
  height: 50px;
  background-color: rgb(210,210,210);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.social:hover {
  background-color: #03C8A2;
}
a.fb {
  background-image: url("../img/fb.png");
  background-size: 75% 75%;
}
a.vk {
  background-image: url("../img/vk.png");
  background-size: 55% 55%;
}
a.in {
  background-image: url("../img/in.png");
  background-size: 45% 45%;
}
h1 {
  padding-top: 0.5em;
  text-align: center;
}

* {
  /*border: 1px solid red;*/
}
#about h1 {
  margin-top: -0.3em;
}
#portfolio {
  padding-bottom: 1em;
}
label {
  display: inline-block;
  width: 10%;
  text-align: right;
}
form {
  margin-bottom: 1em;
}
form div {
  margin-bottom: 1em;
}
form label {
  vertical-align: top;
}
form button {
  width: 10%;
  margin-left: -9.5%;
  padding: 0.5em;
  border: 1px solid rgba(150,150,150,0.6);
}
form button:hover {
  background-color: #03C8A2;
  color: #fff;
  font-weight: bold;
  border-color: #fff;
}

form input, form textarea {
  box-sizing: border-box;
  width: 30%;
  height: 2em;
}
form textarea {
  height: 5em;
}
input:focus, textarea:focus {
  border: none;
  border: 3px solid #03c8a2;
}
#portfolio a {
  padding-bottom: 100px;
}
.one {
  -webkit-transform: perspective(200px) rotateY(-45deg) rotateX(-20deg);
    -o-transform: perspective(200px) rotateY(-45deg) rotateX(-20deg);
  transform: perspective(200px) rotateY(-45deg) rotateX(-20deg);
}

.two {
  -webkit-transform: perspective(200px) rotateY(-30deg);
  -o-transform: perspective(200px) rotateY(-30deg);
  transform: perspective(200px) rotateY(-30deg);
}

.three {
  -webkit-transform: perspective(200px) rotateY(-45deg) rotateX(20deg);
  transform: perspective(200px) rotateY(-45deg) rotateX(20deg);
}
